In [97]:
import pandas as pd 
import numpy as np 
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index = labels)
first_3 = print(df.head(3)) #Q1
df1 = df.dropna(axis = 0) #Q2
name_and_score = df1.iloc[:,0:2] #Q3
new_row = {'name': "Suresh", 'score': 15.5, 'attempts': 1, 'qualify': "yes"} #Q4
df2 = df1.append(pd.DataFrame([new_row],index=['k'],columns=df1.columns)) #Q4
df3 = df2.drop(columns = 'attempts', axis = 1) #Q5
df3["success"] = np.where(df3['score'] >10, 1, 0) #Q6
df3.to_csv('my_data') #Q7
df3

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

        name  score qualify  success
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1
e      Emily    9.0      no        0
f    Michael   20.0     yes        1
g    Matthew   14.5     yes        1
i      Kevin    8.0      no        0
j      Jonas   19.0     yes        1
k     Suresh   15.5     yes        1